{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>Your History</h1>
    <!-- Table-->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for record in history %}
                <tr>
                    <td>{{ record.timestamp }}</td>
                    <td>{{ record.title }}</td>
                    <td>{{ record.action }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
